body {
  background-image: url("../img/smoke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center;
  color: rgba(255, 255, 255, .75);
  font-family: verdana;
}
.main {
  text-align: center;
}
.main {
  font-size: 25px;
  font-style: italic;
}
.column {
  float: left;
  width: 50%;
}
.about {
  text-align: center;
}
.contact {
  text-align: center;
}
footer {
  text-align: center;
}
hr {
  margin: 25px;
}
